.helloInput {
  width: 200px;
}

a,
img,
button,
.m-center {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
}

#h1-welcome a {
  display: inline;
}

#h1-welcome img {
  height: 30px;
  margin-top: -5px;
  display: inline;
}

#qr-reader {
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 3px;
  margin-right: auto;
  margin-left: auto;
  display: none;
}

#google-oauth2 img {
  margin-top: 25px;
}

.container h1 {
  text-align: center;
}

#dt-info_wrapper.dataTables_wrapper table thead {
  display: none;
}

#dt-info_wrapper.dataTables_wrapper .dataTables_filter {
  float: none;
  text-align: center;
}

input[type="search"] {
  -webkit-appearance: searchfield;
}

#dt-controls {
  margin-top: 10px;
}
